<html>
  <head>
    <title>Dojo Message Board</title>
  </head>
  <body>
    <h1>The Dojo Message Board</h1>
    <hr>

    <form action="/message" method="POST">
      <label>Name:<br>
        <input type="text" name="message_name"><br><br>
      </label>
      <label>Message:<br>
        <textarea name="message_content" style="width:100%;"></textarea><br><br>
      </label>
    
      <input type="submit" value="Post message">
    </form>

    <% if(messages.message_errors){ %>
      <% for(var error of messages.message_errors){ %>
          <p><%= error %></p>
      <% } %>
    <% } %>

    <% if(board_messages.length > 0){ %>
      
      <h2>Messages:</h2>
      
        <% for(var board_message of board_messages){ %>
          <div style="padding-left: 15px;border: solid 1px black; margin: 5px;">
            <h3>Name: <%= board_message.name %></h3>
            <h3>Message: <%= board_message.content %></h3>

            <div>
              <% if(board_message.comments){ %>
                <% for(var comment of board_message.comments){ %>
                  <div style="border: solid 1px black; margin: 2px 15px 15px 2px; padding: 10px 10px 0px 10px;">
                    <label>Name: <%= comment.name %> </label>
                    <p style="margin: 10px 0px 0px 0px;">Comment: <%= comment.content %> </p><br>
                  </div>
                <% } %>
              <% } %>
            </div>

            <form action="/comment/<%= board_message.id %>" method="POST">
              <!-- Add comment inputs here: -->
              <label>Name:<br>
                <input type="text" name="comment_name"><br><br>
              </label>
              <label>Comment:<br>
                <textarea name="comment_content" style="width:98%;"></textarea><br><br>
              </label>

              <input type="submit" value="Post comment">
            </form>
          </div>

        <% } %>
    <% } %>

  </body>
</html>